.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active {
  background-color: aquamarine;
}

.error {
  border: red 2px solid;
}

.error-message {
  color: red;
}

.task-done {
  opacity: 0.5;
}
